@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #f8b195, #f67280);
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
  /* más alto que el header */
  animation: slideDown 0.6s ease-out;
}

header {
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #AAB39C;
  text-align: center;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 10;
}

main {
  padding-top: 120px;
  /* se ajusta para que el contenido no quede debajo */
}

body {
  background-color: #FAF9F6;
  font-family: "Inter", sans-serif;
  color: #2E4C3F;
  font-weight: 400;
}

.popup p {
  margin: 0;
  /* Elimina el espacio vertical */
}

.popup {
  animation: slideDown 0.6s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}


.logo-titulo {
  font-size: 22px;
  font-weight: 700;
  color: #333;
}


.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.iconos a {
  margin-left: 20px;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  padding-right: 10px;
}

.iconos a:hover {
  color: #5a6452
}

.pagina-actual {
  text-decoration: #5a6452 2px underline;
  font-weight: bold;
  color: #5a6452;
}

h1,
h1,
h3 {
  font-family: "Playfair Display", serif;
  color: #546B56;
}

ul {
  list-style: none;
}

li>a {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #353535;
}

.barrabuscadora {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: 20px auto;
}

.barrabuscadora input[type="text"] {
  border: none;
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  /* outline: none; */
}

.barrabuscadora button {
  background-color: #5a6452;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barrabuscadora button:hover {
  background-color: #3E5E4E;
}

.barrabuscadora button i {
  color: white;
  font-size: 16px;
}

.titulo {
  text-align: center;
  color: #3E5E4E;
  margin: 40px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

#slogan {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 60px;
}

#titulo-productos {
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

/* .slider-galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.slider-galeria img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 34, 10, 0.562);
} */

/* Contenedor centrado, tamaño máximo, sombra y z-index */
#carouselExampleIndicators {
  max-width: 600px;
  max-height: 600px;
  margin: 40px auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  overflow: hidden;

}

/* Efecto 3D y tamaño de imagen */
.carousel-item img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #000;

}

.carousel-item.active img {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.carousel-inner {
  perspective: 1200px;
  height: 100%;
}

/* Flechas básicas que no cambian de color */
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  top: 50%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  z-index: 2;
  outline: none;
}

/* Mantener el mismo color al presionar o enfocar */
.carousel-control-prev:focus,
.carousel-control-next:focus,
.carousel-control-prev:active,
.carousel-control-next:active,
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  box-shadow: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
  /* ocultamos iconos por defecto */
}

.carousel-control-prev::after {
  content: "<";
}

.carousel-control-next::after {
  content: ">";
}

/* Indicadores por encima de la imagen */
.carousel-indicators {
  z-index: 3;
}

.boton-ver-productos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.boton {
  background-color: #5a6452;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

/* Sección de reseñas */
.resenias {
  background-color: #f0f0f0;
  padding: 30px;
  margin-top: 60px;
  text-align: center;
}

.resenias h2 {
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.resenias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.resenia {
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 34, 10, 0.562);
  font-style: italic;
}

.resenia p {
  font-size: 16px;
  margin-bottom: 1rem;
}

.estrellas {
  font-style: normal;
}

.resenia h4 {
  font-weight: normal;
  color: #444;
  font-size: 18px;
}

/* Sección de productos */
.productos {
  padding: 60px 20px;
  text-align: center;
  background: #f9f9f9;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #444;
}

.card p {
  font-size: 0.95rem;
  color: #666;
}

.precio-acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.precio {
  font-size: 1.1rem;
  font-weight: bold;
  color: #25412e;
}

.acciones {
  display: flex;
  gap: 12px;
}

.acciones i {
  font-size: 1.2rem;
  color: #25412e;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
}

.acciones i:hover {
  transform: scale(1.2);
  color: #25412e;
}


/* Sección acordeon */
.accordion-button {
  background-color: transparent;
  color: #25412e;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.accordion-item {
  border: none;
}

.accordion-button::after {
  background-image: none;
  content: '▶';
  font-size: 1rem;
  transition: transform 0.3s ease;
}

/* Rotar flecha cuando esta abierto */
.accordion-button:not(.collapsed)::after {
  transform: rotate(90deg);
}

.accordion-button:hover {
  background-color: rgba(37, 65, 46, 0.05);
}


.accordion-body {
  padding: 0.3rem 1.25rem;
  transition: background-color 0.3s ease;
}

/* Enlaces dentro del acordeon */
.accordion-body a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 5px 8px;
  border-radius: 6px;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.accordion-body a:hover {
  background-color: rgba(37, 65, 46, 0.1);
  padding-left: 15px;
}

.accordion-collapse {
  transition: height 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: #25412e !important;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.titulo-lista {
  color: #3E5E4E;
}

.ubicacion img {
  width: 300px;
  border: 1px solid #3E5E4E;
  border-radius: 8px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.contacto-ubicacion {
  /* background-color: #D8E8DC; */
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 34, 10, 0.562);
  padding: 50px;
  border-radius: 8px;
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 200px;
  line-height: 2;
}

/* Sección formulario */
.formulario h2,
.contacto h2,
.ubicacion h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

.formulario {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 34, 10, 0.562);
  padding: 50px;
  border-radius: 8px;
  margin: 50px;
  text-align: center;
}

.formulario form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.formulario textarea {
  width: 300px;
  height: 100px;
  resize: none;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
}

/* Sección inicio de sesión */
.inicio-de-sesion {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 8px;
  margin: 50px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 34, 10, 0.562);
}

.inicio-de-sesion input {
  margin-bottom: 30px;
}

.inicio-de-sesion h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

.inicio-de-sesion input::placeholder,
.inicio-de-sesion textarea::placeholder {
  border: 1px solid #3E5E4E;
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
}

.inicio-de-sesion #registrate {
  color: #3E5E4E;
  text-decoration: underline;
}

.sobre-nosotros {
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  padding: 80px 20px;
}

.sobre-nosotros::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);  /* Ahora más transparente */
}

.sobre-nosotros h2,
.sobre-nosotros p {
  position: relative;
  z-index: 1;
}

.servicios .grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 250px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card p {
   font-family: "Inter", sans-serif;
}


footer {
  border-top: 1px solid #8a8585;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #AAB4A0;
  color: #3E5E4E;
  padding: 10px;
  text-align: center;
}

footer li>a {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.iconos-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 36px;
}

.iconos-footer a {
  color: #333;
  font-size: 18px;
}

/* Botón hamburguesa - solo en móvil */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.menu-movile {
  display: none;
}

/* En móviles, mostrar hamburguesa y ocultar menú */
@media (max-width: 768px) {

  header {
    top: 65px;
  }

  main {
    padding-top: 150px;
  }

  .menu-toggle {
    display: block;
  }

  .menu-movile {
    display: none;
    width: 100%;
    background-color: #AAB39C;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 10px 0;
  }

  .iconos {
    display: none;
  }

  .menu-movile ul {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .menu-movile ul li a {
  display: block;
  padding: 12px 20px;
  font-size: 18px;
  background-color: #ffffff21; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-movile ul li a:hover {
  background-color: #5a6452;  
  color: white;
}

  /* Menú visible cuando tiene la clase "active" */
  .menu-movile.active {
    display: flex;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .barrabuscadora {
    width: 300px;
  }

  #slogan {
    font-size: 21px;
    margin-bottom: 50px;
  }

  #titulo-productos {
    font-size: 25px;
  }

  .resenias h2 {
    font-size: 25px;
  }

  .grid-productos {
  grid-template-columns: 1fr;
  justify-items: center; 
  max-width: 100%;     
}


  .contacto-ubicacion {
    flex-direction: column;
    gap: 30px;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }

  .formulario {
    margin: 20px;
    padding: 20px;
  }

  .ubicacion img {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }

  .inicio-de-sesion {
   margin: 20px;
   padding: 20px;
}

  .inicio-de-sesion h2 {
    font-size: 30px; 
  }

  .inicio-de-sesion h5 {
    font-size: 18px;
  }

.sobre-nosotros {
  background-image: url("../assets/img/background-movile.jpg");

}

  .sobre-nosotros h2 {
    font-size: 1.6rem;
  }

  .sobre-nosotros p {
    font-size: 1rem;
    line-height: 1.4;
  }

  .servicios .grid {
    flex-direction: column; 
    align-items: center;
  }

}