@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$fuente-principal: "Inter", sans-serif;
$fuente-secundaria: "Playfair Display", serif;
$color-principal: #2E4C3F;  
$color-hover: #5a6452;       
$color-gris: #333;
$color-prod: #25412e;
$color-form-inicio: #3E5E4E;

//Mixin
@mixin flexbox ($direccion, $j-content, $align-items) {
  display: flex;
  flex-direction: $direccion;
  justify-content:$j-content ;
  align-items: $align-items;
}

@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}

@mixin text-style($f-weight, $f-size, $text-align) {
  font-weight: $f-weight;
  font-size: $f-size;
  text-align: $text-align;
}

//Extend
%btn-base {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

%card-base {
  background: #fff;
  border-radius: 15px;
  @extend %sombra-suave;
  padding: 20px;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

%sombra-suave {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

%sombra-green {
  box-shadow: 0 4px 12px rgba(0, 34, 10, 0.562);
}

%input-base {
  margin-bottom: 30px;

  &::placeholder {
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
  }
}

//Animaciones
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAF9F6;
  font-family: $fuente-principal;
  color: $color-principal;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: $fuente-secundaria;
  color: #546B56;
  @include text-style(900, 30px, center);
}

ul {
  list-style: none;
}

 a{
  text-decoration: none;
  color: #353535;
}

li > a {
  color: black;
  text-decoration: none;
}

// Popup
div.popup {
  @include text-style(bold, 16px, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #f8b195, #f67280);
  color: white;
  padding: 10px;
  z-index: 1000;
  animation: slideDown 0.5s ease-out;
  overflow: hidden;

  p {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }
}

header,
footer {
  background-color: #AAB39C;
  text-align: center;
}

header {
  padding: 10px 20px;
  @extend %sombra-suave;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 10;

  div.nav-container {
    @include flexbox(row, space-between, center);

    div.logo {
      @include flexbox(row, flex-start, center);
      gap: 10px;

      img {
        width: 60px;
      }

      h3.logo-titulo {
        @include text-style(700, 22px, start);
        color:$color-gris;
      }
    }

    nav.menu ul {
      display: flex;
      list-style: none;
      gap: 30px;

      a.pagina-actual {
        text-decoration: $color-hover 2px underline;
        font-weight: bold;
        color: $color-hover;
      }
    }

    div.iconos a {
      margin-left: 20px;
      color: #333;
      font-size: 18px;
      text-decoration: none;
      padding-right: 10px;

      &:hover {
        color: $color-hover;
      }
    }
  }
}

main {
  padding-top: 120px;

  // Barra buscadora
  form.barra-buscadora {
    @include flexbox(row, center, center);
    width: 400px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 20px auto;

    input[type="text"] {
      border: none;
      padding: 10px 15px;
      width: 100%;
      font-size: 16px;
    }

    button {
      @extend %btn-base;
      background-color: $color-hover;
      border: none;
      
      &:hover {
        background-color: #3E5E4E;
      }

      i {
        color: white; 
        font-size: 16px;
      }
    }
  }

  h1#slogan {
    @include text-style(600, 25px, center);
    margin: 60px;
  }

  h1#titulo-productos {
    @include text-style(900, 30px, center);
    margin-bottom: 30px;
  }

  // Carrusel
  div#carouselExampleIndicators {
    max-width: 600px;
    max-height: 600px;
    margin: 40px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    overflow: hidden;

    .carousel-indicators {
      z-index: 3;
    }

    .carousel-inner {
      perspective: 1200px;
      height: 100%;

      .carousel-item img {
        @extend %sombra-suave;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: #000;
      }

      .carousel-item.active img {
        @extend %sombra-suave;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      @include flexbox(row, center, center);
      width: 40px;
      height: 40px;
      top: 50%;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      font-size: 24px;
      color: #000;
      text-decoration: none;
      z-index: 2;
      outline: none;

      &:focus,
      &:active,
      &:hover {
        background: rgba(255, 255, 255, 0.8);
        color: #000;
        box-shadow: none;
      }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      display: none; // ocultamos iconos por defecto
    }

    .carousel-control-prev::after {
      content: "<";
    }

    .carousel-control-next::after {
      content: ">";
    }
  }

  // Reseñas
  section.resenias {
    background-color: #f0f0f0;
    padding: 30px;
    margin-top: 60px;
    text-align: center;

    h2 {
      margin-bottom: 30px;
    }

    .resenias-grid {
      @include grid(repeat(auto-fit, minmax(250px, 1fr)), 1.5rem);
      max-width: 1000px;
      margin: 0 auto;

      .resenia {
        background-color: white;
        padding: 30px;
        @extend %sombra-green;
        font-style: italic;

        p {
          font-size: 16px;
          margin-bottom: 1rem;
        }

        .estrellas {
          font-style: normal;
        }

        h4 {
          @include text-style(normal, 18px, start);
          color: #444;
          text-align: center;
        }
      }

    }
  }

  form.boton-ver-productos {
    @include flexbox(row, center, center);
    margin-top: 30px;
  }

  .boton {
    @extend %btn-base;
    background-color: $color-hover;
    color: #FFFFFF;
    border: none;
  }

  // Productos
  section.productos {
    padding: 60px 20px;
    text-align: center;
    background: #f9f9f9;

    h2 {
      padding: 20px;
    }

    .grid-productos {
      @include grid(repeat(4, 1fr), 25px);
      max-width: 1200px;
      margin: auto;

      .card {
        @extend %card-base;

        img {
          width: 100%;
          border-radius: 12px;
          margin-bottom: 15px;
        }

        h3 {
          @include text-style(500, 1.2rem, start);
          margin: 10px 0;
          color: #444;
        }

        p {
          font-size: 0.95rem;
          color: #666;
        }

        div.precio-acciones {
          @include flexbox(row, space-between, center);
          margin-top: 12px;

          .precio {
            @include text-style(bold, 1.1rem, start);
            color: $color-prod;
          }

          .acciones {
            display: flex;
            gap: 12px;

            i {
              font-size: 1.2rem;
              color: $color-prod;
              cursor: pointer;
              transition: transform 0.2s ease, color 0.3s ease;

              &:hover {
                transform: scale(1.2);
                color: $color-prod;
              }
            }
          }
        }
      }
    }
  }

  // Acordeon
  section#acordeon {

    h1 {
      text-align: center;
    }

    div.accordion-item {
      border: none;

      h2 {
        font-family: "Inter", sans-serif;
      }

      .accordion-button {
        @include text-style(bold, 1.2rem, start);
        background-color: transparent;
        color: $color-prod;
        box-shadow: none;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(37, 65, 46, 0.05);
        }

        &:focus {
          box-shadow: none !important;
        }

        &::after {
          background-image: none;
          content: '▶';
          font-size: 1rem;
          transition: transform 0.3s ease;
        }

        &:not(.collapsed)::after {
          transform: rotate(90deg);
        }

        &:not(.collapsed) {
          background-color: transparent !important;
          color: $color-prod !important;
          box-shadow: none;
        }
      }

      .accordion-collapse {
        transition: height 0.3s ease;
      }

      .accordion-body {
        padding: 0.3rem 1.25rem;
        transition: background-color 0.3s ease;

        a {
          color: $color-gris;
          text-decoration: none;
          font-size: 1rem;
          display: block;
          padding: 5px 8px;
          border-radius: 6px;
          transition: background-color 0.3s ease, padding-left 0.3s ease;

          &:hover {
            background-color: rgba(37, 65, 46, 0.1);
            padding-left: 15px;
          }
        }
      }
    }
  }

  //  Contacto
  section.contacto-ubicacion {

    h4 {
      font-size: 20px;
    }

    @include flexbox(row, center, stretch);
    @extend %card-base;
    margin: 50px;
    gap: 200px;
    line-height: 2;

    .ubicacion {
      img {
        @include flexbox(row, center, stretch);
        width: 300px;
        border: 1px solid $color-form-inicio;
        border-radius: 8px;
        margin: 10px 0;
      }
    }
  }

  // Formulario 
  section.formulario {
    @extend %card-base;
    margin: 50px;
    text-align: center;

    form {
      @include flexbox(column, flex-start, center);
      text-align: center;
      gap: 10px;
      margin-bottom: 15px;

      textarea {
        width: 300px;
        height: 100px;
        resize: none;
      }

      input::placeholder,
      textarea::placeholder {
         @extend %input-base;
      }
    }

  }

  // Inicio de sesion
section.inicio-de-sesion {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 8px;
  margin: 50px;
  text-align: center;
  @extend %sombra-green;

  input {
    border: 1px solid $color-form-inicio;
   @extend %input-base;
  }

  textarea {
    border: 1px solid $color-form-inicio;
   @extend %input-base;
  }

  #registrate {
    color: $color-form-inicio;
    text-decoration: underline;
  }
}

// Sobre Nosotros
section.sobre-nosotros {
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  padding: 80px 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); // más transparente
  }

  h2,
  p {
    position: relative;
    z-index: 1;
  }
}

// Servicios
#tit {
  margin: 30px;
}
section.servicios {
  .grid {
    @include flexbox(row, center, stretch);
    gap: 20px;
    margin-top: 20px;

    .card {
      @extend %card-base;
      text-align: center;
      width: 250px;
  
      p {
        font-family: "Inter", sans-serif;
        color: #666;
        text-align: center;
      }

      h6 {
        @include text-style(400, 18px,start);
        margin-top: 10px;
        font-family: "Playfair Display", serif;
        text-align: center;
      }

    }
  }
}

}

footer {
  border-top: 1px solid #8a8585;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #AAB4A0;
  padding: 10px;

  div.iconos-footer {
    @include flexbox(row, center, stretch);
    gap: 10px;
    padding-left: 36px;

    .a {
      color: $color-gris;
      font-size: 18px;
    }
  }

  li>a {
    @include flexbox(row, center, stretch);
    margin-top: 5px;
  }
}

/* Botón hamburguesa - solo en móvil */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: $color-gris;
}

.menu-movile {
  display: none;
}

// Media queries para móviles
@media (max-width: 768px) {
  header {
      top: 40px;
    }

  main {
    padding-top: 150px;

      .barra-buscadora {
        width: 280px !important;
      }

    #slogan {
      font-size: 21px;
      margin-bottom: 50px;
    }

    #titulo-productos {
      font-size: 25px;
    }

    section.resenias {
      h2 {
        font-size: 25px;
      }
    }

    section.productos {
      .grid-productos {
        grid-template-columns: 1fr;
        justify-items: center;
        max-width: 100%;
      }
    }

    section.contacto-ubicacion {
      flex-direction: column;
      gap: 30px;
      margin: 20px;
      padding: 20px;
      text-align: center;

      .ubicacion img {
        width: 100%;
        max-width: 300px;
        margin: auto;
      }
    }

    section.formulario {
      margin: 20px;
      padding: 20px;
    }

    section.inicio-de-sesion {
      margin: 20px;
      padding: 20px;

      h2 {
        font-size: 30px;
      }

      h5 {
        font-size: 18px;
      }
    }

    section.sobre-nosotros {
      background-image: url("../assets/img/background-movile.jpg");

      h2 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.4;
      }
    }

    section.servicios {
      .grid {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .menu-toggle {
    display: block;
  }

  .menu-movile {
    display: none;
    width: 100%;
    background-color: #AAB39C;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 10px 0;

    &.active {
      display: flex;
      justify-content: center;
    }

    ul {
      flex-direction: column;
      align-items: center;
      gap: 25px;

      li a {
        display: block;
        padding: 12px 20px;
        font-size: 18px;
        background-color: #ffffff21;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: $color-hover;
          color: white;
        }
      }
    }
  }

  .iconos,
  .menu {
    display: none;
  }
}